ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: floralwhite;
    /* border-style: groove;
    border-width: medium;
    border-radius: 15px;
    border-color: black; */
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 18px 26px;
    text-decoration: none;
    font-family: cursive;
  }
  
 
  li a:hover {
    background-color: darkslateblue;
    color: white;
  }

  .active{
      background-color: cornflowerblue;
      color: white;
}

body{
    margin: 0;
}